.Button {
    display: inline-block;
    height: 4rem;
    width: 100px;
    text-align: center;
    justify-content: center;
    /* pointer-events: none; */
    align-items: center;
    font-weight: lighter;
    font-size: 1.4em;
    background-color:lightseagreen;
    color:white;
    outline: 1px solid #888;
  }
  .operator {
    background-color:lightskyblue;
    color: #fff;
  }